body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  padding: 10px 10px;
  width: 400px;
  background: #fff;
  margin: 16px auto;
}

.title {
  margin-bottom: 0;
  padding: 10px 10px;
  font-size: 20px;
}

.content {
  margin-bottom: 20px;
  padding: 20px 10px;
}

.button-container {
  text-align: center;
  padding: 20px 10px;
}

button {
  display: block;
  margin: 0 auto;
  padding: 8px 24px;
  border: 1px solid #eee;
}